

.hero__container {
    margin-left: 120px;
}

.hero__title {
    padding-top: 190px;
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.hero__text {
    margin-top: 25px;
    padding-bottom: 190px;
    max-width: 337px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

