@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
}
button{
  border: none;
  cursor: pointer;
}
.container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.active {
  border-bottom: 1px solid #000;
}